<!DOCTYPE HTML>
<!--
  Solarize by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>WWE Portal</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jquery.dropotron.min.js"></script>
    <script src="../../js/skel.min.js"></script>
    <script src="../../js/skel-layers.min.js"></script>
    <script src="../../js/init.js"></script>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--     <link href="/css/bootstrap.css" rel="stylsheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <noscript>
      <link href="/css/bootstrap.css" rel="stylsheet">
      <link href="/css/bootstrap-responsive.css" rel="stylesheet">
      <link rel="stylesheet" href="../../css/skel.css" />
      <link rel="stylesheet" href="../../css/style.css" />
<!--       <link rel="stylesheet" href="../../css/bootstrap.min.css" />
 -->
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body class="homepage">

    <!-- Header Wrapper -->
      <div class="wrapper style1">
      
      <!-- Header -->
        <div id="header">
          <div class="container">
              
            <!-- Logo -->
              <h1><a href="#" id="logo">Solarize</a></h1>
            
            <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li class="active"><a href="index.html">Home</a></li>
                  <li>
                    <a href="">WWE Inc.</a>
                    <ul>
                      <li><a href="http://www.wwe.com/inside/overtheropes/wwestudios">WWE Studios</a></li>
                      <li><a href="http://www.wwe.com/inside/wwemusic">WWE Music Group</a></li>
                      <li><a href="http://www.wwe.com/videos/playlists/wwe-performance-center-tour">WWE Performance Center</a></li>
                      <li>
                        <a href="">WWE Network</a>
                        <ul>
                          <li><a href="http://www.wwe.com/inside/overtheropes/wweinyourcorner/wmrc/wwe-books-read-across-america-2011">WWE Book</a></li>
                          <li><a href="http://shop.wwe.com/">WWE Shop</a></li>
                          <li><a href="#">WWE Jet Services</a></li>
                          <li><a href="http://www.wwe.com/classics/inside-video-vault-photos">WWE Library</a></li>
                          <!-- <li><a href="#">Veroeros feugiat</a></li> -->
                        </ul>
                      </li>
                      <li><a href="http://www.wwe.com/">WCW Inc.</a></li>
                    </ul>
                  </li>
                  <li><a href="http://www.wwe.com/events">Events</a></li>
                  <li><a href="http://corporate.wwe.com/">Partners</a></li>
                  <li><a href="http://www.wwe.com/main-help/contact-us">Contact</a></li>
                </ul>
              </nav>
  
          </div>
        </div>
        
      <!-- Banner -->
        <div id="banner" class="footerTopPadding">
          <section class="container containerpadding">

            <!-- <a class="btn-primary largeText" href="#openModal">Request Access</a> -->
            <div class="requestLeftPadding">
              <a type="button" class="btn btn-primary btn-lg btncolor noUnderline" href="#openModal">Request Access</a>
            </div>
            <div id="openModal" class="modalDialog">
              <div>
                <!-- <button type="button" class="btn btn-primary btn-lg btncolor">Request Access</button> -->
                <a href="#" id="close" title="Exit" class="close" data-dismiss-"modal">X</a>
                  <div class="txtFontColor">
                    <h3>Select Group</h3>
                    <p><font size="2">You will be asked to verify your email in order to
                       gain access to media content packaged for your affiliation. 
                       Thank you!</font> 
                    </p>
                  </div>
                  <!-- Dropdown styling -->
                  <div class="dropdown">
                    <button href="openModal2" class="btn btn-default dropdown-toggle dropdownHeight dropdownColor" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Affiliation
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <form>
                      <li role="presentation"><a href="#openModal2" id="request" role="menuitem" tabindex="-1">Cable</a></li>
                    </form>
                      <li role="presentation"><a href="#openModal3" id="request" role="menuitem" tabindex="-1">Satelite</a></li>

                      <li role="presentation"><a href="#openModal4" id="request" role="menuitem" tabindex="-1">Telco</a></li>

                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TV</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ad Agency</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Marketing/Creative Provider</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Radio Station</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">WWE Employee</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                    </ul>
                  </div>
              </div>
            </div>

            <!-- open second modal for Cable-->
            <div id="openModal2" class="modalDialog backgroundColor">
              <div>
                <a href="#" id="close" title="Exit" class="close" data-dismiss-"modal">X</a>
                <div class="txtFontColor">
                  <h3>Client Info</h3>
                </div>
                  <form action='/collab' method='get' class="form-inline well modalBackground">
                    <div class="txtFontColor">
                      <h3>Name</h3>
                    </div>
                      <input type="text" name='name' placeholder="First/Middle/Last" autofocus>
                    <div class="txtFontColor">
                      <h3>Email</h3>
                    </div>
                      <input type="text" name='username' placeholder="user@example.com" autofocus>
                      <div class="verifyPadding verifyButton">
                        <input class="btn btn-primary btn-lg btncolor noUnderline btn-small verifyButton" type='submit' value='Verify'>
                      </div>
                  </form>
              </div>
            </div>

            <!-- open modal for Satelite -->
            <div id="openModal3" class="modalDialog backgroundColor">
              <div>
                <a href="#" id="close" title="Exit" class="close" data-dismiss-"modal">X</a>
                <div class="txtFontColor">
                  <h3>Client Info</h3>
                </div>
                  
                  <form action='/Satelite' method='get' class="form-inline well">
                    <div class="txtFontColor">
                      <h3>Name</h3>
                    </div>
                    <input type="text" name='name' placeholder="First/Middle/Last" autofocus>
                    <div class="txtFontColor">
                      <h3>Email</h3>
                    </div>
                      <input type="text" name='username' placeholder="username" autofocus>
                      <div class="verifyPadding verifyButton">
                        <input class="btn btn-primary btn-lg btncolor noUnderline btn-small verifyButton" type='submit' value='Verify'>
                      </div>                  
                  </form>
              </div>
            </div>

            <!-- open modal for Telco -->
            <div id="openModal4" class="modalDialog backgroundColor"> 
              <div>
                <a href="#" id="close" title="Exit" class="close" data-dismiss-"modal">X</a>
                <div class="txtFontColor">
                  <h3>Client Info</h3>
                </div>
                  <form action='/Telco' method='get' class="form-inline well">
                      <div class="txtFontColor">
                      <h3>Name</h3>
                    </div>
                    <input type="text" name='name' placeholder="First/Middle/Last" autofocus>
                    <div class="txtFontColor">
                      <h3>Email</h3>
                    </div>
                      <input type="text" name='username' placeholder="username" autofocus>
                      <div class="verifyPadding verifyButton">
                        <input class="btn btn-primary btn-lg btncolor noUnderline btn-small verifyButton" type='submit' value='Verify'>
                      </div>                      
                  </form>
              </div> 
            </div>
          </section>
        </div>
      </div>
    
  <!-- Footer -->
    <div id="footer" class="footerpadding footBackColor">
      <section class="container footerColor footBackColor">
        <header class="major footBackColor">
          <h2>Access Media Content</h2>
          <span class="byline">Connect with us and be up to date with World Wrestling Entertainment Inc.</span>
        </header>
        <ul class="icons">
          <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
          <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
          <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
          <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
        </ul>
        <hr />
      </section>  
    </div>
    <script>
          $('#request').on("click",function(){
                $('#openModal').modal('hide');
                $('#openModal2').modal('show');
          });

          $('#exitButton').on("click", function(){
                $('#openModal2').modal('hide');

          });

          $('exit').on("click", function(){
                $('#openModal2').modal('hide');
          });

          function userEmail(){
              var input = document.getElementById("userInput").value;
              console.log(input);
              puts(cable, input)
          }
    </script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>